body{
    margin: 0;
    font-family: sans-serif;
}

.relationship{
    height: 40px;
    width: 100%;
    color: gray;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgba(211, 211, 211, 0.37);
}

.emails{
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
}

.emails hr{
    height: 20px;
    border: 1px solid lightgray;
    margin-right: 5%;
}

.icon_svg{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 200px;
    font-size: 13px;
}

.icon{
    color: orangered;
    height: 20px;
    width: 20px;

}

.virtual_space{
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    gap: 10px;
}

.app_icon{
    height: 25px;
    width: 25px;
    border-radius: 100%;
    background-color: lightgrey;
}

.app_icon a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons{
    color: whitesmoke;
    height: 17px;
    width: 17px;
}

/*  */

nav{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: auto;
    gap: 14px;
}

.links ul{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

.links ul li{
    list-style: none;
}

.links ul li a{
    text-decoration: none;
    color: black;
    transition: all 0.5s;
}

.links ul li a:hover{
    color: orangered;
}

.visit_button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 30px;
    background-color: black;
    color: white;
    border-radius: 50px;
    gap: 7px;
    cursor: pointer;
}

.visit_icon{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
}

.visit_button span{
    font-size: 14px;
    margin-right: 5%;
}

/*  */

header{
    width: 100%;
    height: 700px;
}

.header_image{
    width: 100%;
    height: 100%;
    position: absolute;
}

.information_header{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 20.2%;
    padding-top: 12.5%;
    gap: 10px;
}

.location_name{
    width: 130px;
    height: 26px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.location_name span{
    font-size: 13px;
    font-weight: bold;
}

.information_header strong{
    color: white;
    font-size: 44px;
}

.move_button{
    display: none;
}

.dotes{
    display: flex;
    gap: 6px;
    margin-top: 13.5%;
}

.dote{
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: white;
}

/*  */

.main_information_us{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 100%;
    box-sizing: border-box;
    gap: 2%;
    padding: 50px 0% 50px 0%;
}

.information_us_products{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:right;
}

.image_caption{
    width: 80%;
    height: 410px;
    display: grid;
    grid-template-columns: 33% 60%;
    grid-template-rows: 100%;
}

.image_main_information_us{
    width: 100%;
    height: 100%;

}

.image_for_information_us{
    width: 100%;
    height: 100%;
}

.logo_information_us{
    width: 90px;
    height: 90px;
    border-radius: 100%;
    background-color: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -17% ;
    margin-left: -46px;
    position: relative;
    z-index: 100;
}

.logo_for_image_information_us{
    width: 50px;
    height: 50px;
}

.caption_main_information_us{
    margin-left: 6%;
}

.caption_for_information_us{
    width: 360px;
    height: 260px;
    background-color: rgba(211, 211, 211, 0.118);
    margin-top: 6.9%;
    display: flex;
    flex-direction: column;
}

.caption_for_information_us hr{
    width: 99%;
    border: 1px solid rgba(211, 211, 211, 0.293);
}

.skill_us{
    width: 250px;
    height: 410px;
    background-color: white;
    box-shadow: 0px 0px 13px lightgray;
    border-radius: 8px;
    margin-left: -140px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0% 7%;
}

.skill_us hr{
    width: 100%;
    border: 1px solid rgba(211, 211, 211, 0.293);
}

.skill_information{
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.skill_information img{
    width: 45px;
    height: 45px;
}

.skill_caption{
    padding-right: 10%;
}

/*  */

.main_information_movie{
    width: 100%;
    height: 660px;
    margin-top: 50px;
}

.main_information_movie img{
    width: 100%;
    height: 500px;
    position: absolute;
}

.title_movie{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
}

.title_movie img{
    width: 830px;
    height: 380px;
    border-radius: 12px;
    margin-top: 15%;
}

.play_button{
    height: 75px;
    width: 75px;
    background-color: rgba(255, 68, 0, 0.512);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 17%;
    cursor: pointer;
}
.play_button_frame{
    width: 47px;
    height: 47px;
    border-radius: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*  */

.main_notice{
    padding: 7% 0%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10%;
}

.notice_card{
    width: 230px;
    height: 80px;
    background-color: rgba(255, 68, 0, 0.121);
    border-radius: 8px;
}

.notices{
    position: absolute;
    width: 230px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0% 3%;
}

.notice_logo{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: orangered;
    margin-top: -15px;
    margin-left: 90%;
}

/*  */

.main_details{
    padding: 5% 10%;
    box-sizing: border-box;
    background-color: whitesmoke;
    width: 100%;
    height: 680px;
}

.title_link_detail{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0% 5%;
    width: 100%;
    height: auto;
}

.title_detail{
    display: flex;
    flex-direction: column;
}

.link_detail{
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 6%;
}

.link_detail_card{
    width: 135px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    transition: all 0.5s;
}

.link_detail_card:hover{
    background-color: orangered;
}

.detail_product_us{
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 100%;
    margin-top: 3%;
}

.detail_product_card{
    display: flex;
    justify-content: center;
}

.details_card{
    width: 250px;
    height: 310px;
    background-color: white;
    box-shadow: 0px 0px 13px lightgray;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0% 7%;
}

.details_information{
    display: flex;
    height: 40px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.details_card hr{
    width: 100%;
    border: 1px solid rgba(211, 211, 211, 0.293);
}

.detail_product_image{
    display: flex;
    justify-content: center;
}

.detail_product_image img{
    width: 100%;
    height: 360px;
}

.detail_product_caption{
    box-sizing: border-box;
    padding: 0% 25% 0% 15%;
}

.detail_product_caption p{
    font-size: 14px; 
    color: rgba(0, 0, 0, 0.644);
    margin-top: 30px;
    gap: 10%;
}

.visit_detail_caption{
    margin-top: 60px;
    height: 40px;
    width: 160px;
}

.visit_detail_caption_icon{
    height: 40px;
    width: 40px;
    margin-left: -10px;
}

/*  */

.main_products{
    padding: 6% 0%;
}

.title_products{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#span_products{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.products{
    padding-top: 3%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5%;
}

.product_card{
    width: 340px;
    height: 500px;
    background-color: rgba(245, 245, 245, 0.605);
    box-sizing: border-box;
    padding: 2% 2%;
    display: flex;
    flex-direction: column;
    gap: 2%;
    margin-top: 2%;
}

.product_image{
    width: 100%;
    height: 210px;
    cursor: pointer;
    border-radius: 10px;
}

.product1{
    background-image: url("images/property-01.jpg");
    background-size: 100% ;
    background-position: center;
    transition: all 0.5s;
}

.product1:hover{
    background-size: 110%;
}

.product2{
    background-image: url("images/property-02.jpg");
    background-size: 100% ;
    background-position: center;
    transition: all 0.5s;
}

.product2:hover{
    background-size: 110%;
}

.product3{
    background-image: url("images/property-03.jpg");
    background-size: 100% ;
    background-position: center;
    transition: all 0.5s;
}

.product3:hover{
    background-size: 110%;
}

.product4{
    background-image: url("images/property-04.jpg");
    background-size: 100% ;
    background-position: center;
    transition: all 0.5s;
}

.product4:hover{
    background-size: 110%;
}

.product5{
    background-image: url("images/property-05.jpg");
    background-size: 100% ;
    background-position: center;
    transition: all 0.5s;
}

.product5:hover{
    background-size: 110%;
}

.product6{
    background-image: url("images/property-06.jpg");
    background-size: 100% ;
    background-position: center;
    transition: all 0.5s;
}

.product6:hover{
    background-size: 110%;
}

.product_price{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#currency{
    width: 83px;
    height: 26px;
    font-size: 12px;
    background-color: rgba(255, 68, 0, 0.205);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.product_caption{
    margin-top: 5%;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    gap: 16%;
}

.product_captions{
    display: flex;
    justify-content: space-between;
}

.product_card hr{
    width: 100%;
    border: 1px solid rgba(211, 211, 211, 0.293);
}

.product_view_button{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view_button{
    width: 130px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 24px;
    font-size: 14px;
}

/*  */

.main_contact_us{
    width: 100%;
    height: auto;
}

.main_contact_us .img{
    background-image: url("images/contact-bg.jpg");
    background-size: 100% 100%;
    width: 100%;
    height: 500px;
    position: absolute;
}

.contact_forms{
    width: 100%;
    height: auto;
    position: relative;
}

.contact_title{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}

.forms{
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 5% 15% 0% 15%;
}

.contact_cards{
    width: 600px;
    height: 600px;
}

#empty_card{
    width: 100%;
    height: 430px;
    border-radius: 10px;
    background-color: rgba(211, 211, 211, 0.082);
    box-shadow: 0px 0px 13px rgba(211, 211, 211, 0.466);
}

.info_contact_us_card{
    width: 100%;
    margin-top: 7%;
    display: flex;
    justify-content: space-between;
}

.contact_us_card{
    width: 270px;
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0% 9% 0% 3%;
    box-shadow: 0px 0px 13px lightgray;
    border-radius: 8px;
}

.icon_contact{
    width: 50px;
    height: 50px;
    color: orangered;
}

.contact_caption{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    width: 400px;
    height: 560px;
    background-color: white;
    box-shadow: 0px 0px 13px lightgray;
    border-radius: 10px;
    padding: 2% 3%;
    box-sizing: border-box;
}

.inputs{
    width: 100%;
    margin-top: 7%;
}

.input{
    height: 35px;
    width: 100%;
    background-color: whitesmoke;
    outline: none;
    border: none;
    border-radius: 24px;
    padding-left: 3%;
    font-size: 12px;
}

.message{
    resize: none;
    height: 100px;
    width: 100%;
    background-color: whitesmoke;
    outline: none;
    border: none;
    border-radius: 20px 20px 0px 20px;
    padding-top: 3%;
    padding-left: 3%;
    font-size: 12px;
}

.submit{
    height: 35px;
    width: 130px;
    border-radius: 24px;
    color: white;
    background-color: black;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
}

footer{
    margin-top: 30px;
    height: 60px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.855);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}